@model List<Factura.Core.Entities.Invoice>
@{
    ViewBag.Title = "Index";
}

<h2>Listadod de Facturas</h2>
<p>
    @Html.ActionLink("Crear Nuevo", "NuevaFactura", null, new { @class = "btn btn-success" })
</p>
<div class="form-horizontal">
    <div class="panel panel-primary">
        <div class="panel-heading"><h3 class="panel-title">Listado Facturas</h3></div>
        <div class="panel-body">
            <table class="table table-hover">
                <tr>
                    <th>
                        @Html.DisplayName("CODIGO")
                    </th>
                    <th>
                        @Html.DisplayName("NUMERO FACTURA")
                    </th>
                    <th>
                        @Html.DisplayName("SERIE")
                    </th>
                    <th>
                        @Html.DisplayName("FECHA")
                    </th>
                    <th>
                        @Html.DisplayName("TOTAL")
                    </th>
                    <th>
                        @Html.DisplayName("ESTADO")
                    </th>
                    
                    <th>

                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.InvoiceNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Serie)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.InvoiceDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Total)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        
                        <td>
                            @Html.ActionLink("Detalle", "Detalle", new { id = item.Id }, new { @class = "btn btn-primary" }) |
                            @Html.ActionLink("Anular", "Anular", new { id = item.Id }, new { @class = "btn btn-danger" })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>
